openapi: 3.0.3
info:
  title: LionSpaceFIS REST Buildings Rooms API
  description: Public REST API from the Penn State Office of Physical Plant (OPP) exposing the university's facilities and space data, the successor to the legacy FIS Facilities Information System. Exposes buildings, rooms, campuses, buildingEvents, and roomEvents entities with filtering, wildcard, and comparison operators, plus a health endpoint. This OpenAPI description was reconstructed from the public HTML documentation and from live, observed responses of the running service (appVersion 1.14.0); the provider does not publish a machine-readable specification of its own.
  version: 1.14.0
  contact:
    name: Penn State Office of Physical Plant
    url: https://apps.opp.psu.edu/fis-api/
servers:
- url: https://apps.opp.psu.edu/fis-api/v1
  description: Production v1 API
- url: https://apps.opp.psu.edu/fis-api
  description: Service root (health endpoint)
tags:
- name: Rooms
  description: Rooms within buildings.
paths:
  /rooms:
    get:
      tags:
      - Rooms
      summary: List rooms
      description: Returns rooms within buildings. Supports filtering by building id, floor, and other properties using the same comparison operators as buildings.
      operationId: listRooms
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: floor
        in: query
        description: Filter by room floor.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of rooms.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Room'
components:
  schemas:
    RoomType:
      type: object
      properties:
        id:
          type: string
          example: '955'
        description:
          type: string
          example: Apartment Service
    Campus:
      type: object
      properties:
        id:
          type: string
          example: UP
        maximoCampusCode:
          type: string
          example: UP
        lionPathCampusCode:
          type: string
          example: UP
        maximoCode:
          type: string
          example: UP
        lionPathCode:
          type: string
          example: AE
        name:
          type: string
          example: University Park
    BuildingRef:
      type: object
      properties:
        id:
          type: string
          example: 0290012
    Room:
      type: object
      properties:
        id:
          type: string
          example: 0290012-1-109D
        number:
          type: string
          example: 109D
        name:
          type: string
          nullable: true
        floor:
          type: string
          example: '1'
        floorVerticalOrder:
          type: integer
          nullable: true
        netArea:
          type: number
          format: double
          example: 12.09
        fireCodeCapacity:
          type: integer
          example: 0
        capacity:
          type: integer
          example: 0
        occupancy:
          type: integer
          example: 0
        photoUrl:
          type: string
          nullable: true
        collegeNetKey:
          type: string
          nullable: true
        businessAreaKey:
          type: string
          example: '6530'
        principalInvestigators:
          type: string
          nullable: true
        occupants:
          type: string
          nullable: true
        facilityCoordinators:
          type: string
          nullable: true
        maximoLocation:
          type: string
          example: 0290012-109D
        lastUpdateDate:
          type: string
          format: date
          example: '2022-03-28'
        dateInactivated:
          type: string
          format: date
          nullable: true
        campus:
          $ref: '#/components/schemas/Campus'
        latLong:
          $ref: '#/components/schemas/LatLong'
        building:
          $ref: '#/components/schemas/BuildingRef'
        type:
          $ref: '#/components/schemas/RoomType'
    LatLong:
      type: object
      properties:
        latitude:
          type: number
          format: double
          example: 40.79974
        longitude:
          type: number
          format: double
          example: -77.86252
  parameters:
    offset:
      name: offset
      in: query
      description: Number of records to skip for pagination.
      required: false
      schema:
        type: integer
        minimum: 0
    limit:
      name: limit
      in: query
      description: Maximum number of records to return.
      required: false
      schema:
        type: integer
        minimum: 1
